.card {
  width: calc(100% - 40px);
  padding: 20px;
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: white;
  padding: 50px;
  animation: fadein 0.5s;
}


.card__rectangle {
background-color: #403ef7;
  width: 15px;
  height: 15px;
  margin-right: 15px;
  border-radius: 5px;;
}

.card__logo-container {
  display: flex;
  align-items: center;


}

.card__company-name {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 14px;
}


@media (min-width: 450px) {
  .card {
    width: 375px;
  
  }
}

.card__header {
  font-family: 'Montserrat', sans-serif;
  color: #3e4852;
  letter-spacing: 1px;
  margin-top: 50px;
  margin-bottom: 40px;
}



@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}