.app-container {
  display: flex;
  min-height: 100vh;
  background: linear-gradient(to top, #d3cce3, #e9e4f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}